{% extends '_layouts/base.twig' %}

{% block content %}

{# Navigation #}
{% include "_sections/navigation.twig" %}

{# Heading #}
{% include "_sections/header.twig" %}

{# Slides #}
<div class="container">
    <div class="row justify-center text-center">
        {% include "_components/heading.twig" with {params: features} %}
    </div>
</div>
<div class="w-full  mt-10 flex flex-row">
    {% for item in features.slides %}
    <img src="{{ item.image  }}" alt="">
    {% endfor %}
</div>

{# Features #}
<div class="container mt-32">
    <div class="row justify-center">
        <div class="col-3 pt-40">
            {% include "_components/feature.twig" with {params: services.purple }  %}
        </div>
        <div class="col-3 offset-1">
            {% include "_components/feature.twig" with {params: services.orange }  %}
        </div>
    </div>
    <div class="row justify-center">
        <div class="col-3 pt-40">
            {% include "_components/feature.twig" with {params: services.red }  %}
        </div>
        <div class="col-3 offset-1">
            {% include "_components/feature.twig" with {params: services.blue }  %}
        </div>
    </div>
</div>

{# Testimonials #}
<div class="container pt-56">
    <div class="row">
        <div class="w-1/2">
            <div class="flex flex-row items-start justify-start ">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="inline-block flex-shrink-0 fill-current text-gray-300 w-16 h-16" viewBox="0 0 20 20">
                    <path
                        d="M2 4h6.935v5.337c0 1.965-.41 3.518-1.228 4.66C6.89 15.139 5.491 16.14 3.514 17L2 14.164c1.233-.573 2.08-1.144 2.543-1.712.462-.569.72-1.24.773-2.016H2V4zm8.082 0h6.935v5.337c0 1.965-.41 3.518-1.227 4.66-.819 1.142-2.216 2.143-4.193 3.003l-1.515-2.836c1.233-.573 2.08-1.144 2.543-1.712.462-.569.72-1.24.773-2.016h-3.316V4z"
                        clip-rule="evenodd" />
                </svg>
                <p class="font-light text-gray-600 leading-loose ml-8">
                    {{ testimonial.quote }}
                </p>
            </div>
            <div class="flex flex-row mt-16">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="inline-block flex-shrink-0 fill-current text-gray-300 w-16 h-16 mr-8" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                        d="M13.142 6.423c0 1.891-1.262 3.424-2.818 3.424-1.557 0-2.819-1.533-2.819-3.424 0-1.89.414-3.423 2.819-3.423 2.404 0 2.818 1.533 2.818 3.423zm-1.275 3.687c3.292.594 3.722 1.532 3.774 4.826.003.21.005.247.006.228v.256S14.863 17 10.324 17C5.784 17 5 15.42 5 15.42v-.346c0 .03.003.017.008-.245.06-3.207.516-4.132 3.772-4.72 0 0 .464.591 1.544.591s1.543-.59 1.543-.59z"
                        clip-rule="evenodd" />
                </svg>
                <div class="flex flex-col">
                    <h3 class="font-light text-3xl text-gray-700">{{ testimonial.author.name }}</h3>
                    <p class="text-xs text-orange-500 uppercase font-bold tracking-widest mt-2">
                        {{ testimonial.author.position }}</p>
                    <div class="flex flex-row items-center mt-4">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="fill-current inline-block w-4 h-4 text-gray-700 mr-5" viewBox="0 0 15 16">
                            <path fill-rule="evenodd"
                                d="M13.73 3.328l-.225.071-1.195.106-.338.54-.245-.078-.95-.858-.139-.446-.185-.476-.598-.536-.705-.138-.016.323.69.674.339.399-.38.198-.31-.091-.463-.193.015-.374-.608-.25-.202.879-.613.139.06.49.8.154.138-.784.659.098.307.18h.491l.337.673.893.906-.066.352-.72-.092-1.243.628-.895 1.074-.117.476h-.321l-.6-.276-.58.276.144.613.253-.292.445-.013-.03.55.368.109.368.413.601-.169.687.109.797.214.399.047.675.766 1.303.767-.843 1.61-.89.413-.337.92-1.288.86-.137.496C12.552 13.992 15 11.035 15 7.5a7.469 7.469 0 00-1.27-4.173z"
                                clip-rule="evenodd" />
                            <path fill-rule="evenodd"
                                d="M8.362 11.421l-.546-1.013.501-1.045-.501-.15-.563-.565-1.247-.28-.415-.866v.514H5.41L4.334 6.56V5.362L3.546 4.08l-1.251.223h-.843l-.424-.277.541-.43-.54.125A7.455 7.455 0 000 7.501a7.5 7.5 0 007.5 7.501c.319 0 .632-.028.941-.065l-.078-.909s.344-1.35.344-1.395c0-.047-.345-1.212-.345-1.212zM2.787 2.419l1.332-.186.614-.337.691.2 1.104-.062.379-.594.551.09 1.34-.125.369-.407.52-.348.737.111.268-.04a7.473 7.473 0 00-8.977 2.006h.004l1.068-.308zM7.817.746l.765-.422.492.284-.712.543-.68.068-.306-.199.44-.274zM5.885.949L5.548.808c-.01.084-.438.363-.487.395l-.005.003.492.288 1.022-.268-.242-.418-.442.14z"
                                clip-rule="evenodd" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="fill-current inline-block w-6 h-6 text-gray-700 mr-5" viewBox="0 0 20 20">
                            <path
                                d="M18 5.42a6.22 6.22 0 01-1.767.477 3.052 3.052 0 001.353-1.675c-.596.347-1.255.599-1.956.735A3.09 3.09 0 0013.385 4c-1.7 0-3.078 1.357-3.078 3.03 0 .237.027.469.08.69a8.781 8.781 0 01-6.342-3.166 2.973 2.973 0 00-.416 1.523c0 1.052.544 1.98 1.368 2.522a3.113 3.113 0 01-1.393-.38v.038c0 1.467 1.06 2.692 2.468 2.971-.258.069-.53.106-.811.106a3 3 0 01-.58-.056 3.073 3.073 0 002.874 2.105 6.235 6.235 0 01-3.821 1.295c-.248 0-.493-.015-.734-.042A8.795 8.795 0 007.717 16c5.66 0 8.754-4.618 8.754-8.622l-.01-.393A6.094 6.094 0 0018 5.42z"
                                clip-rule="evenodd" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="fill-current inline-block w-6 h-6 text-gray-700"  viewBox="0 0 20 20">
                            <path d="M4.056 3H16.23c.583 0 1.055.436 1.055.975V15.63c0 .539-.472.975-1.055.975H4.056C3.473 16.605 3 16.17 3 15.63V3.975C3 3.436 3.473 3 4.056 3zm1.116 11.389h2.159V8.246H5.172v6.143zm1.08-6.982h-.015c-.723 0-1.193-.472-1.193-1.062 0-.602.483-1.06 1.222-1.06.738 0 1.192.458 1.206 1.06 0 .59-.468 1.062-1.22 1.062zm6.702 6.981h2.158v-3.522c0-1.887-1.065-2.765-2.486-2.765-1.145 0-1.657.597-1.944 1.015v-.87H8.525c.028.576 0 6.142 0 6.142h2.157v-3.43c0-.184.014-.367.072-.498.156-.367.51-.747 1.107-.747.78 0 1.093.563 1.093 1.389v3.286z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}