{% extends '_layouts/base.twig' %}

{% block content %}

{# Navigation #}
{% include "_sections/navigation.twig" %}

{# Heading #}
{% include "_sections/header.twig" %}

{# Slides #}
{% include "_sections/slides.twig" %}

{# Features #}
{% include "_sections/features.twig" %}

{# Testimonials #}
{% include "_sections/testimonials.twig" %}

{# Spacing #}
<div class="h-64 mt-64"></div>
{# Spacing #}

{# Contact #}

<div class="container pt-20">
    <div class="row">
        <div class="col-3 offset-3 z-50 pt-32">
            <h3 class="font-bold text-3xl text-white mb-10">Contact Us</h3>
            {% for row in contact.details %}
            <div class="mb-8">
                <p class="text-orange-500 text-xs font-bold uppercase tracking-wider mb-3">{{ row.name }}</p>
                <p class="text-white font-light text-lg">{{ row.value }}</p>
            </div>
            {% endfor %}

            <div class="mt-16">
                <p class="text-white font-light text-xs">{{ contact.copyright }}</p>
            </div>
        </div>
        <div class="w-1/2">
            <div class="absolute left-0 -ml-64 z-10">
                <img class="w-full h-auto object-cover" src="assets/images/bg_round.png" alt="">
            </div>
        </div>
        <div class="col-6">
            <h1>Hello</h1>
        </div>
    </div>
</div>



{% endblock %}