{% extends '_layouts/base.twig' %}

{% block content %}

{# Navigation #}
{% include "_sections/navigation.twig" %}

{# Heading #}
{% include "_sections/header.twig" %}

<div class="container">
    <div class="row justify-center text-center">
        {% include "_components/heading.twig" with {params: features} %}
    </div>
    <div class="row mt-10">
        {% for item in features.slides %}
        <img src="{{ item.image  }}" alt="">
        {% endfor %}
    </div>
</div>


{% endblock %}