<div class="relative">
    <div class="container pt-20">
        <div class="row justify-center">
            <div class="col-12 xl:col-4 xl:relative">
                <div class="relative pt-32 z-50">
                    <h3 class="font-bold text-3xl text-white mb-10">Contact Us</h3>

                    <div class="flex flex-col md:flex-row justify-between xl:flex-col">
                        {% for row in contact.details %}
                        <div class="mb-8 md:mb-0 xl:mb-8">
                            <p class="text-orange-500 text-xs font-bold uppercase tracking-wider mb-3">{{ row.name }}
                            </p>
                            <p class="text-white font-light text-lg">{{ row.value }}</p>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="text-left md:text-center xl:text-left mt-16">
                        <p class="text-white font-light text-xs">{{ contact.copyright }}</p>
                    </div>
                </div>
                <div class="hidden xl:block absolute left-0 top-0 -ml-72 z-10">
                    <img class="w-full h-auto" src="assets/images/bg_round.png" alt="">
                </div>
            </div>
            <div class="order-first mb-64 md:col-8 xl:mb-0 xl:order-none xl:col-6 xl:offset-2">
                {% include "../_components/contact_form.twig" %}
            </div>
            <div class="w-full absolute bottom-0 xl:hidden -mb-64"
                style="height: 800px; background: url('assets/images/bg_large.png') no-repeat center center / cover;">
            </div>
        </div>
    </div>
</div>