<div class="container mt-32">
    <div class="row justify-center">
        <div class="mt-16 md:mt-0 md:col-3 md:pt-40">
            {% include "../_components/feature.twig" with {params: services.purple }  %}
        </div>
        <div class="mt-16 md:mt-0 md:col-3 md:offset-1">
            {% include "../_components/feature.twig" with {params: services.orange }  %}
        </div>
    </div>
    <div class="row justify-center">
        <div class="mt-16 md:mt-0 md:col-3 md:pt-40">
            {% include "../_components/feature.twig" with {params: services.red }  %}
        </div>
        <div class="mt-16 md:mt-0 md:col-3 md:offset-1">
            {% include "../_components/feature.twig" with {params: services.blue }  %}
        </div>
    </div>
</div>