<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <meta content="" name="description">

  {# TNS Slider #}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">
  <!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.helper.ie8.js"></script><![endif]-->

  <title>{{ page.title }}</title>
</head>

<body class="flex flex-col min-h-screen">

  <div class="flex-grow">
    {% block content %}{% endblock %}
  </div>


  <footer>
    <div class="w-full -mt-70"
      style="height: 800px; background: url('assets/images/bg_gray.png') no-repeat center center / cover;">
    </div>
  </footer>
</body>

</html>