<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <meta content="" name="description">

  <title>{{ page.title }}</title>
</head>

<body class="flex flex-col min-h-screen">

  <div class="flex-grow">
    {% block content %}{% endblock %}
  </div>

  <footer>

  </footer>

</body>

</html>