<div class="col-12 lg:col-8">
    <p class="text-xs font-bold text-orange-500 uppercase mb-2">{{ params.subtitle }}</p>
    <h1 class="text-3xl lg:text-5xl font-bold text-blue-500 mb-4">{{ params.title }}</h1>
    <p class="text-sm md:text-lg text-gray-600 leading-loose font-light">{{ params.desc }}</p>
</div>